body, html {
  height: 100%;
}

html > body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

/* Nav + Hero image  */
.navbar-toggler {
  float: left;
}

#anchor-navs .nav-link {
  color: #295C5D;
}

.navbar {
  background-color: #f0f0f0;
}

.nav-link {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: x-large;
}

.fa-home, .fa-cut, .fa-image, .fa-calendar, .fa-id-badge {
  margin-right: 0.5em;
}

a:hover {
  color: #3E4945 !important;
  text-decoration: underline;
}

.bgimage {
  width: 100%;
  height: 80% !important;
  background: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Akaya Telivigala", cursive;
}
/* Nav + Hero image /*/

/* Menu section */
.address-opening{
  text-align: center;
}

.services-container {
  text-align: center;
  margin-top: 2em;
}

.services-header {
  font-weight: bold;
  font-size: x-large;
}

#services-section {
  margin-top: 4em;
}

.services-choice {
  text-align: center;
  margin-top: 2em;
}

li {
  margin-top: 1em;
}

p {
  font-weight: 500;
}

#gents-haircut, #beard-button, #color-button, #homeservices-button {
  margin: 1em;
}

/* CART */
.cart-header {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.fa-shopping-basket {
  margin-right: 0.5em;
}

.errorMsg-cart {
  background-color: rgb(255, 217, 0);
  opacity: 0.7;
}

.cart-column {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  width: 100%;
}

.cart-item {
  width: 45%;
  color: #333;
}

.shop-item-button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cart-price {
  width: 20%;
  color: #333;
  font-size: 1.2em;
}

.cart-quantity {
  width: 35%;
  color: #333;
  font-size: 1.2em;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
}

#removeBtn {
  margin: 0;
  padding: 3px;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 1px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  align-items: center;
  padding: 5px;
  width: 20em;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
    
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 2em 0 2em 0;
}

.purchase {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 25%;
  top: 20%;
  width: 50%; 
  height: 100%; 
  overflow: auto; 
}

#purchase-container {
  text-align: center;
  margin-top: 6em;
  max-width: 40rem;
}

.purchase-content {
  background-color: yellow;
  margin: auto;
  padding: 20px;
  border: 3px solid black;
    border-radius: 2em;
  width: 80%;
}

.purchase {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 25%;
  top: 25%;
  width: 50%; 
  height: 100%; 
  overflow: auto; 
}

@media only screen and (max-width: 600px) {
  .purchase {
    width: 100%;
    left: 0;
  }
}
/* CART /*/

/* Contact Section */
#contact-container {
  text-align: center;
  margin-top: 6em;
  max-width: 50em;
}

#contact-image {
  align-items: flex-start;
}

#contact-section {
  margin-top: 11em;
}

.mb-5 {
  margin-top: 2em;
  padding: 0 12px;
}