body, html {
  height: 100%;
}

html > body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

/* Nav + Hero image  */
.navbar-toggler {
  float: left;
}

#anchor-navs .nav-link {
  color: #295C5D;
}

.navbar {
  background-color: #f0f0f0;
}

.nav-link {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: x-large;
}

.fa-home, .fa-cut, .fa-image, .fa-calendar, .fa-id-badge {
  margin-right: 0.5em;
}

a:hover {
  color: #3E4945 !important;
  text-decoration: underline;
}