body, html {
  height: 100%;
}

html > body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

/* Nav + Hero image  */
.navbar-toggler {
  float: left;
}

#anchor-navs .nav-link {
  color: #295C5D;
}

.navbar {
  background-color: #f0f0f0;
}

.nav-link {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: x-large;
}

.fa-home, .fa-cut, .fa-image, .fa-calendar, .fa-id-badge {
  margin-right: 0.5em;
}

a:hover {
  color: #3E4945 !important;
  text-decoration: underline;
}

.bgimage {
  width: 100%;
  height: 80% !important;
  background: url('../images/hero-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Akaya Telivigala", cursive;
}
/* Nav + Hero image /*/

/* Menu section */
.address-opening{
  text-align: center;
}

.services-container {
  text-align: center;
  margin-top: 2em;
}

.services-header {
  font-weight: bold;
  font-size: x-large;
}

#services-section {
  margin-top: 4em;
}

.services-choice {
  text-align: center;
  margin-top: 2em;
}

li {
  margin-top: 1em;
}

p {
  font-weight: 500;
}

#gents-haircut, #beard-button, #color-button, #homeservices-button {
  margin: 1em;
}

/* CART */
.cart-header {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.fa-shopping-basket {
  margin-right: 0.5em;
}